Create database QLKS
GO
USE [QLKS]
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 16/02/2022 10:35:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[IdBill] [int] IDENTITY(1,1) NOT NULL,
	[IdBillInfo] [int] NOT NULL,
	[Total] [int] NULL,
	[Name] [nvarchar](100) NOT NULL,
	[IdRental] [int] NOT NULL,
	[Date_Bill] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdBill] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BILLINFO]    Script Date: 16/02/2022 10:35:53 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILLINFO](
	[IdBillInfo] [int] NOT NULL,
	[Service] [nvarchar](100) NOT NULL,
	[Amount] [int] NOT NULL,
	[Price] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdBillInfo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORY_ROOM]    Script Date: 16/02/2022 10:35:53 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY_ROOM](
	[IdCategoryRoom] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Price_Day] [int] NULL,
	[Price_Hour] [int] NULL,
	[Beds] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoryRoom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORY_SERVICE]    Script Date: 16/02/2022 10:35:53 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY_SERVICE](
	[IdCategoryService] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoryService] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORY_USER]    Script Date: 16/02/2022 10:35:53 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY_USER](
	[IdCategoryUser] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoryUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONVINIENT]    Script Date: 16/02/2022 10:35:53 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONVINIENT](
	[IdConvinient] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdConvinient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 16/02/2022 10:35:53 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[IdCustomer] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](max) NULL,
	[BirthDay] [date] NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[CCCD] [nvarchar](100) NOT NULL,
	[Sex] [nvarchar](20) NOT NULL,
	[Nationality] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCustomer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETAIL_CONVINIENT]    Script Date: 16/02/2022 10:35:53 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETAIL_CONVINIENT](
	[IdConvinientDetail] [int] IDENTITY(1,1) NOT NULL,
	[IdRoom] [int] NOT NULL,
	[IdConvinient] [int] NOT NULL,
	[Amount] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdConvinientDetail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 16/02/2022 10:35:53 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[IdEmployee] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Address] [nvarchar](max) NULL,
	[BirthDay] [date] NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[CCCD] [nvarchar](100) NOT NULL,
	[Sex] [nvarchar](20) NOT NULL,
	[Position] [nvarchar](100) NOT NULL,
	[Salary] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmployee] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RENTAL]    Script Date: 16/02/2022 10:35:53 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RENTAL](
	[IdRental] [int] IDENTITY(1,1) NOT NULL,
	[IdReservation] [int] NOT NULL,
	[IdRentalDetail] [int] NOT NULL,
	[IdRoom] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRental] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RENTALDETAIL]    Script Date: 16/02/2022 10:35:53 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RENTALDETAIL](
	[IdRentalDetail] [int] IDENTITY(1,1) NOT NULL,
	[IdService] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRentalDetail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESERVATION]    Script Date: 16/02/2022 10:35:53 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESERVATION](
	[IdReservation] [int] IDENTITY(1,1) NOT NULL,
	[IdEmployee] [int] NOT NULL,
	[IdCustomer] [int] NOT NULL,
	[Date] [int] NULL,
	[IdReservationDetail] [int] NOT NULL,
	[IdRoom] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdReservation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESERVATION_DETAIL]    Script Date: 16/02/2022 10:35:53 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESERVATION_DETAIL](
	[IdReservationDetail] [int] IDENTITY(1,1) NOT NULL,
	[Start_Date] [date] NOT NULL,
	[End_Date] [date] NOT NULL,
	[Start_Time] [date] NOT NULL,
	[End_Time] [date] NOT NULL,
	[Amount] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdReservationDetail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROOM]    Script Date: 16/02/2022 10:35:53 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROOM](
	[IdRoom] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Clean] [nvarchar](50) NOT NULL,
	[IdCategoryRoom] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRoom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICE]    Script Date: 16/02/2022 10:35:53 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICE](
	[IdService] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Price] [int] NOT NULL,
	[IdCategoryService] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdService] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 16/02/2022 10:35:53 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[Users_Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[IdEmployee] [int] NOT NULL,
	[Type] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Users_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bill] ON 

INSERT [dbo].[Bill] ([IdBill], [IdBillInfo], [Total], [Name], [IdRental], [Date_Bill]) VALUES (3, 1, 2530000, N'Hưng Trương', 1, CAST(N'2022-02-16' AS Date))
SET IDENTITY_INSERT [dbo].[Bill] OFF
GO
INSERT [dbo].[BILLINFO] ([IdBillInfo], [Service], [Amount], [Price]) VALUES (1, N'2', 2, 30000)
GO
SET IDENTITY_INSERT [dbo].[CATEGORY_ROOM] ON 

INSERT [dbo].[CATEGORY_ROOM] ([IdCategoryRoom], [Name], [Price_Day], [Price_Hour], [Beds]) VALUES (1, N'Phòng đơn', 500000, 100000, 1)
SET IDENTITY_INSERT [dbo].[CATEGORY_ROOM] OFF
GO
SET IDENTITY_INSERT [dbo].[CATEGORY_SERVICE] ON 

INSERT [dbo].[CATEGORY_SERVICE] ([IdCategoryService], [Name]) VALUES (1, N'Đồ ăn')
SET IDENTITY_INSERT [dbo].[CATEGORY_SERVICE] OFF
GO
SET IDENTITY_INSERT [dbo].[CATEGORY_USER] ON 

INSERT [dbo].[CATEGORY_USER] ([IdCategoryUser], [Name]) VALUES (1, N'CEO')
SET IDENTITY_INSERT [dbo].[CATEGORY_USER] OFF
GO
SET IDENTITY_INSERT [dbo].[CUSTOMER] ON 

INSERT [dbo].[CUSTOMER] ([IdCustomer], [Name], [Address], [BirthDay], [Phone], [CCCD], [Sex], [Nationality]) VALUES (1, N'Trương Hưng', N'Đăk Lăk', CAST(N'2001-04-20' AS Date), N'0822904906', N'241811661', N'Nam', N'Việt Nam')
SET IDENTITY_INSERT [dbo].[CUSTOMER] OFF
GO
SET IDENTITY_INSERT [dbo].[EMPLOYEE] ON 

INSERT [dbo].[EMPLOYEE] ([IdEmployee], [Name], [Address], [BirthDay], [Phone], [CCCD], [Sex], [Position], [Salary]) VALUES (1, N'HUNG', N'Dak Lak', CAST(N'2001-04-04' AS Date), N'12345789', N'12345789', N'Nam', N'CEO', N'99999999')
SET IDENTITY_INSERT [dbo].[EMPLOYEE] OFF
GO
SET IDENTITY_INSERT [dbo].[RENTAL] ON 

INSERT [dbo].[RENTAL] ([IdRental], [IdReservation], [IdRentalDetail], [IdRoom]) VALUES (1, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[RENTAL] OFF
GO
SET IDENTITY_INSERT [dbo].[RENTALDETAIL] ON 

INSERT [dbo].[RENTALDETAIL] ([IdRentalDetail], [IdService]) VALUES (1, 2)
SET IDENTITY_INSERT [dbo].[RENTALDETAIL] OFF
GO
SET IDENTITY_INSERT [dbo].[RESERVATION] ON 

INSERT [dbo].[RESERVATION] ([IdReservation], [IdEmployee], [IdCustomer], [Date], [IdReservationDetail], [IdRoom]) VALUES (1, 1, 1, 4, 2, 1)
SET IDENTITY_INSERT [dbo].[RESERVATION] OFF
GO
SET IDENTITY_INSERT [dbo].[RESERVATION_DETAIL] ON 

INSERT [dbo].[RESERVATION_DETAIL] ([IdReservationDetail], [Start_Date], [End_Date], [Start_Time], [End_Time], [Amount]) VALUES (2, CAST(N'2022-02-12' AS Date), CAST(N'2022-02-16' AS Date), CAST(N'2001-01-01' AS Date), CAST(N'2001-01-01' AS Date), 2500000)
SET IDENTITY_INSERT [dbo].[RESERVATION_DETAIL] OFF
GO
SET IDENTITY_INSERT [dbo].[ROOM] ON 

INSERT [dbo].[ROOM] ([IdRoom], [Name], [Status], [Clean], [IdCategoryRoom]) VALUES (1, N'101', N'Trống', N'Đã dọn dẹp', 1)
SET IDENTITY_INSERT [dbo].[ROOM] OFF
GO
SET IDENTITY_INSERT [dbo].[SERVICE] ON 

INSERT [dbo].[SERVICE] ([IdService], [Name], [Price], [IdCategoryService]) VALUES (2, N'Mỳ trộn', 15000, 1)
SET IDENTITY_INSERT [dbo].[SERVICE] OFF
GO
SET IDENTITY_INSERT [dbo].[USERS] ON 

INSERT [dbo].[USERS] ([Users_Id], [UserName], [Password], [IdEmployee], [Type]) VALUES (2, N'admin', N'cdd96d3cc73d1dbdaffa03cc6cd7339b', 1, 1)
SET IDENTITY_INSERT [dbo].[USERS] OFF
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD FOREIGN KEY([IdBillInfo])
REFERENCES [dbo].[BILLINFO] ([IdBillInfo])
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD FOREIGN KEY([IdRental])
REFERENCES [dbo].[RENTAL] ([IdRental])
GO
ALTER TABLE [dbo].[DETAIL_CONVINIENT]  WITH CHECK ADD FOREIGN KEY([IdConvinient])
REFERENCES [dbo].[CONVINIENT] ([IdConvinient])
GO
ALTER TABLE [dbo].[DETAIL_CONVINIENT]  WITH CHECK ADD FOREIGN KEY([IdRoom])
REFERENCES [dbo].[ROOM] ([IdRoom])
GO
ALTER TABLE [dbo].[RENTAL]  WITH CHECK ADD FOREIGN KEY([IdRentalDetail])
REFERENCES [dbo].[RENTALDETAIL] ([IdRentalDetail])
GO
ALTER TABLE [dbo].[RENTAL]  WITH CHECK ADD FOREIGN KEY([IdReservation])
REFERENCES [dbo].[RESERVATION] ([IdReservation])
GO
ALTER TABLE [dbo].[RENTAL]  WITH CHECK ADD FOREIGN KEY([IdRoom])
REFERENCES [dbo].[ROOM] ([IdRoom])
GO
ALTER TABLE [dbo].[RENTALDETAIL]  WITH CHECK ADD FOREIGN KEY([IdService])
REFERENCES [dbo].[SERVICE] ([IdService])
GO
ALTER TABLE [dbo].[RESERVATION]  WITH CHECK ADD FOREIGN KEY([IdCustomer])
REFERENCES [dbo].[CUSTOMER] ([IdCustomer])
GO
ALTER TABLE [dbo].[RESERVATION]  WITH CHECK ADD FOREIGN KEY([IdEmployee])
REFERENCES [dbo].[EMPLOYEE] ([IdEmployee])
GO
ALTER TABLE [dbo].[RESERVATION]  WITH CHECK ADD FOREIGN KEY([IdReservationDetail])
REFERENCES [dbo].[RESERVATION_DETAIL] ([IdReservationDetail])
GO
ALTER TABLE [dbo].[RESERVATION]  WITH CHECK ADD FOREIGN KEY([IdRoom])
REFERENCES [dbo].[ROOM] ([IdRoom])
GO
ALTER TABLE [dbo].[ROOM]  WITH CHECK ADD FOREIGN KEY([IdCategoryRoom])
REFERENCES [dbo].[CATEGORY_ROOM] ([IdCategoryRoom])
GO
ALTER TABLE [dbo].[SERVICE]  WITH CHECK ADD FOREIGN KEY([IdCategoryService])
REFERENCES [dbo].[CATEGORY_SERVICE] ([IdCategoryService])
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD FOREIGN KEY([IdEmployee])
REFERENCES [dbo].[EMPLOYEE] ([IdEmployee])
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD FOREIGN KEY([Type])
REFERENCES [dbo].[CATEGORY_USER] ([IdCategoryUser])
GO
